
/* body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/893a42ad-6a39-43c2-bbc1-a951ec64ed6d/a61a12da-537d-4ef5-99d2-965852467247/NG-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    /* background-position: fixed; */
    background-size: cover;
   /* overflow: hidden; */
  font-family: 'Times New Roman', Times, serif;
  } */